node_modules
.next
.git
.github
.vscode
.idea
.env*
!.env.example
npm-debug.log*
*.log
README.md
LICENSE
.DS_Store
Dockerfile
.dockerignore
compose.yml
docker-compose.yml
.eslintrc.json
eslint.config.mjs
