<div class="container">
    <div id="section" class="section">

        <div id="big-main" class="columns is-multiline">
            <%- include ('../partials/sidebar') %>
            <main class="column">

                <section class="card sub-main">
                    <div class="card-content">
                        <h2>Expériences professionnelles</h2>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>MÉDECINS DU MONDE FRANCE</h5>
                                            <div class="lieu">Bangui, <strong>RCA</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Coordinatrice logistique</h6>
                                        <div class="date">2021-2022 · 9 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Réponses d'urgence aux besoins de santé des populations affectées par le conflit sur le territoire centrafricain<br></p>
                                    <ul>
                                        <li>
                                            <p>Encadrement de l’équipe logistique capitale, et appui de deux bases en arrière-pays</p>
                                        </li>
                                        <li>
                                            <p>Gestion d'équipe (environ 25 personnes), animation des équipes, embauches de personnels, écritures de fiches de postes</p>
                                        </li>
                                        <li>
                                            <p>Supervision et appui logistique des projets</p>
                                        </li>
                                        <li>
                                            <p>Définition des stratégies et planification des activités logistiques</p>
                                        </li>
                                        <li>
                                            <p>Appui technique à un projet de Clinique mobile en réponse d'urgence</p>
                                        </li>
                                        <li>
                                            <p>Supervision de la mise en œuvre matérielle des procédures de sécurité, participation aux cellules de crises</p>
                                        </li>
                                        <li>
                                            <p>Supervision des flux d'approvisionnements nationaux, et des opérations de dédouanement</p>
                                        </li>
                                        <li>
                                            <p>Supervision des réhabilitations et constructions des centres de santé</p>
                                        </li>
                                        <li>
                                            <p>Travail de représentation et de réseau (RLH, ClusterLog, ONG)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>MÉDECINS DU MONDE FRANCE</h5>
                                            <div class="lieu">Kalemie, <strong>RD Congo</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Logisticienne base</h6>
                                        <div class="date">2020-2021 · 9 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Réponse d'urgence aux besoins de santé des populations affectées par le conflit, dans la province du Tanganyika<br></p>
                                    <ul>
                                        <li>
                                            <p>Encadrement et animation d'une équipe d'une douzaine de personnes</p>
                                        </li>
                                        <li>
                                            <p>Supervision des tâches d'approvisionnement, transport et stockage des intrants programmes sur la province</p>
                                        </li>
                                        <li>
                                            <p>Suivi et gestion des parcs automobile, des communications et du parc informatique</p>
                                        </li>
                                        <li>
                                            <p>Ouverture d'une sous-base dans le cadre d'une réponse d'urgence, et participation à l'élaboration et au lancement d'une réponse rapide</p>
                                        </li>
                                        <li>
                                            <p>Participation à la définition des construction de projet et écriture et suivi des budgets</p>
                                        </li>
                                        <li>
                                            <p>Veille sécuritaire, analyse et suivi de la sécurité de la base, des déplacements et des équipes, participation à l'écriture des protocoles</p>
                                        </li>
                                        <li>
                                            <p>Animation des processus de recrutement, d'évaluations et de définitions des besoins RH</p>
                                        </li>
                                        <li>
                                            <p>Supervision des réhabilitations et constructions des centres de santé</p>
                                        </li>
                                        <li>
                                            <p>Formation des équipes (Excel, Word, gestion des stocks, procédures d'achat, etc...)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>MÉDECINS DU MONDE FRANCE</h5>
                                            <div class="lieu">Marseille, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Logisticienne</h6>
                                        <div class="date">2020 · 3 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Programmes Squat et Bidonville &amp; CASO · Réponse Covid-19<br></p>
                                    <ul>
                                        <li>
                                            <p>Gestion et suivi de stock</p>
                                        </li>
                                        <li>
                                            <p>Gestion des EPI Covid19 (stock, commande, préparation, suivi)</p>
                                        </li>
                                        <li>
                                            <p>Approvisionnement</p>
                                        </li>
                                        <li>
                                            <p>Préparation distribution et intervention</p>
                                        </li>
                                        <li>
                                            <p>Travail de mise à niveau du parc informatique</p>
                                        </li>
                                        <li>
                                            <p>Création et mise à niveau protocoles (sorties, stock, achat)</p>
                                        </li>
                                        <li>
                                            <p>Accompagnement à évaluation de la sécurité</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>HUMANITÉ &amp; INCLUSION</h5>
                                            <div class="lieu">Tunis, <strong>Tunisie</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Chargée d'appui juridique aux études et diagnostics</h6>
                                        <div class="date">2019 · 6 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/hi.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Appui de la direction régionale, dans la réalisation d'une mission exploratoire sur la situation des personnes migrantes dans le sud tunisien (gouvernorats de Medenine et Tataouine), et d'un travail d'analyse du cadre l'égal, pour la réalisation de deux diagnostics initiaux sur le teritoire tunisien</p>
                                    <ul>
                                        <li>
                                            <p>Etude sur les violences sexuelles et les besoins en santé sexuelle et reproductive des jeunes et femmes en situation de handicap</p>
                                        </li>
                                        <li>
                                            <p>Etudes sur les conditions de séjour, d'accueil et d'accés aux services de droit commun, des personnes migrantes</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>CARITAS AU MAROC</h5>
                                            <div class="lieu">Rabat, <strong>Maroc</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Chargée d'appui à la coordination de programme</h6>
                                        <div class="date">2018-2019 · 8 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/caritas.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Programme "Migration"<br></p>
                                    <ul>
                                        <li>
                                            <p>Participation à des actions d'appui au renforcement des capacités des partenaires</p>
                                        </li>
                                        <li>
                                            <p>Appui au suivi de projets (cadre logique, budget, fiches de postes, rapports)</p>
                                        </li>
                                        <li>
                                            <p>Refonte d'un outil de recueil de données. (définition des besoins, élaboration d'un cahier des charges, interface, OpenData, sécurisation, fonctionnalités</p>
                                        </li>
                                        <li>
                                            <p>Conception d’un plan de communication et d’une nouvelle charte graphique, et accompagnement à la "numérisation" de certains process</p>
                                        </li>
                                        <li>
                                            <p>Rédaction et mise en page de supports de sensibilisation, de notes d'actualités</p>
                                        </li>
                                        <li>
                                            <p>Animation réunion, team building</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>COMMUNE D'OLIVET</h5>
                                            <div class="lieu">Olivet, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Chargée d'appui juridique au pôle de la vie citoyenne</h6>
                                        <div class="date">2015 · 2 mois (stage)</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/olivet.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Accompagnement et soutien à la mise en place de procédure de refonte des accueils des publics. Etudes juridiques de la faisabilité de projets sur partenariat et baux emphytéotiques</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>LA COMPAGNIE DU CHOCOLAT</h5>
                                            <div class="lieu">Toulouse, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Vendeuse et préparatrice en chocolaterie</h6>
                                        <div class="date">2014 · 6 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/choco.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Accueil et conseil client, vente et encaissement, mise en rayon et respect rotation des produits, réception et préparation de commandes, suivi de l’état des stocks, production des produits.</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>GEODIS CALBERSON</h5>
                                            <div class="lieu">Orléans, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Responsable adjointe de service de transport</h6>
                                        <div class="date">2009-2012 · 3 ans</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/geodis.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Elaboration plannings chauffeurs, coordination et supervision d’équipe (~15 personnes), adaptation entre demandes clients et exploitation des ressources, actions de formation à l'attention des collaborateurs, organisation et optimisation ressources d’exploitation, contrôle et optimisation productivité, remplacement responsable service</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>COOL-JET SAS</h5>
                                            <div class="lieu">Orléans, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Agent d'exploitation des transports</h6>
                                        <div class="date">2010-2012 · 3 ans</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/cooljet.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Enregistrement et saisie des flux de départ, traitement réclamations, suivi et optimisation des process, dispatching tournées, coordination inter-services</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>COOL-JET SAS</h5>
                                            <div class="lieu">Orléans, <strong>France</strong>&emsp;<i class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Manutentionnaire</h6>
                                        <div class="date">2009 · 3 mois</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/cooljet.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Réception et comptabilisation des marchandises, contrôle qualité et tri des produits, reconditionnement des marchandises.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </main>
        </div>
    </div>
</div>