.dark-mode .card {
    border-color: var(--gradiant-lev0);
}

.dark-mode .logo {
    display: none;
}

.transition {
    transition: all 1.5s ease-out;
}

.transitionSidebar {
    transition: all .75s ease-out;
}