/** ------------------------------------------------------INDEX**/
/** INDEX **/


#index-recent {

    @include mobile {
        display: none;
    }
    @include widescreen {
        display: inline-block;
    }
}

/** ------------------------------------------------------CARD **/
/** CARD **/

.card 
{
    margin: 2rem auto 2rem auto;
    border: 0.063rem solid var(--gradiant-lev3);
    box-shadow: none;
    background: var(--back-card);
    color: var(--gradiant-lev6);
    border-radius: .7rem; 
    font-size: .84rem;
    text-align: justify;

    @include touch {
        margin: 0rem auto 1rem auto;
    }

    h3 {
        margin: .5rem auto .5rem 0;
    }
}

.categories-option {
    padding: .5rem 0 0 0;
    align-items: flex-end;

    .label-checkbox {
        font-size: .9rem;
    }

    @include touch {
        .categories-columns {
            display: flex;
            justify-content: center;
        }
        .label-checkbox {
            font-size: .9rem;
            margin-top: .2rem;
        }
        .label-right {
            text-align: left;
        }
        .label-left { 
            text-align: right;
        }
    }
    @include desktop {
        .label-checkbox {
            margin-top: .2rem;
        }
        .label-right {
            text-align: right;
        }
        .label-left {
            text-align: left;
        }
    }

    @include widescreen {
        .column {
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 0;
        }
    }
}

.card-index {
    h3 {
        margin-bottom: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    h5 {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--gradiant-lev6);
        line-height: 1.313rem;
    }   

    h6 {
        text-transform: uppercase;
    }  

    img {
        margin: 1rem auto auto 1rem;
        width: 3.5rem;
    }
}

.card-blue {
    background: var(--primary-back);
    color: white;
    text-align: justify;
    line-height: 1.8rem;
}

.card-option {
    margin-top: 0;
    background: var(--background);
    border:none;
}

.top-card {
    margin-top: 1rem;
}

/** -------------------------------------JOBS AND GRADUATIONS **/
/** JOBS AND GRADUATION **/


.card .media:not(:last-child) {
    margin-bottom: .5rem;
}

.job, .graduation {
    .card-content {
        border-radius: 0;
        padding-top: 0rem ;
        padding-bottom: 0rem ;

        @include touch {
            padding: .5rem;
            padding-top: 2rem ;
            padding-bottom: 1rem ;
        }
    }

    h5 {
        font-size: 0.938rem;
        font-weight: 600;
        color: var(--primary-font);
        line-height: 1.313rem;
        text-transform: uppercase;
    }

    h6 {
        font-size: 0.95rem;
        font-weight: 700;
    }


    .jobTitle {
        display: flex;
        justify-content: space-between;
        max-width: 95%;

        @include touch {
            display: block;
        }
    }

    .position {
        max-width: 95%;
    }

    .logo {
        width: 7vw;

        @include touch {
            display: none;
        }
    }

    .lieu {
        margin-top: .25rem;
        margin-bottom: .2rem;
        .fa {
            @include touch {
                display: none;
            }
        }
    }

    .date {
        font-weight: 500;
        color: var(--gradiant-lev7);
        margin-top: .25rem;
    }

    .content {
        margin-top: 2vh;
    }

    ul {
        @include touch {
            margin-left: 0;
        }
    }
}

.graduation {
    .content {
        margin-top: 1vh;
    }

    .lieu {
        text-transform: uppercase;
        font-weight: 600;
        font-size: .75rem;
        color: var(--gradiant-lev7);
    }

    .date {
        font-weight: 500;
    }
}

/** ---------------------------------------------------GRAPHISME**/
/** GRAPHISME **/
.has-carousel {
    min-height: 27.5rem;
    .carousel {
        min-height: 100%;
    }
}

.slider-pagination {
    display: none; 
}

.slider-navigation-previous, .slider-navigation-next {
    background: none;
    border: none;
    box-shadow: none;

    svg {
        color : transparent;
    }
}

/** -----------------------------------------------------SKILLS**/
/** SKILLS **/

.skills {
    font-size: .75rem;

    .langTitle {
        margin-bottom: .4rem;
        .info {
            margin-right: 1rem;
        }
        .seperator {
            margin-left: .5rem;
            margin-right: .5rem;
            border-left: 1px solid var(--gradiant-lev8);
        }
    }

    progress {
        margin-bottom: .75rem;
    }


    .progress.is-small {
        height: 0.4rem;
    }

    .mooc {
        margin-top: .75rem;
        margin-bottom: .06rem;
    }

    .certifList {
        margin-bottom: 1rem;
        .certifTitle {
            max-width: 17.5rem;
        }
        .logo {
            margin-left: 0.6rem;
            width: 2vw;
        }
    }

    .numSkills {
        line-height: 1.5rem;
    }



}