<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="H7WlUGtR2qixeuRBcGoikgoAMQzIXcyrEimbhvhaI2o" />
    <meta name="msvalidate.01" content="B6E752632B6D37F2278E18C1C4465C6C" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <meta name="description" content="Curriculum vitae en ligne" />

    <title>CV · Alice Aussel-Delamaide</title>

    <!-- Style -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png" />                                     

    <!-- Typos -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Line Awesome -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
</head>