<aside id="fixed-sidebar" class="column is-full-touch is-full-desktop is-2-widescreen">

    <figure class="image">
        <img id="color-picture" class="circle middle lightMode-elements" src="/images/color-picture.jpg"
            alt="Photo de profil">
        <img id="grey-picture" class="circle middle darkMode-elements" src="/images/grey-picture.jpg"
            alt="Photo de profil">
    </figure>

    <h1 id="name">ALICE<br>
        <span class="name-color">AUSSEL</span><br>
        <span class="name-color">DELAMAIDE</span><br>
    </h1>

    <nav>
        <ul id="navList" class="list-unstyled">
            <a href="/index/fr">
                <li class="">Accueil</li>
            </a>
            <a href="/experiences/fr">
                <li class="">Expériences</li>
            </a>
            <a href="/education/fr">
                <li class="">Formations</li>
            </a>
            <a href="/volunteering/fr">
                <li class="">Bénévolat</li>
            </a>
            <!-- <a href="realisations.php"><li class="<?php if($currentPage =='realisations'){echo 'active';}?>">Réalisations</li></a> -->
            <a href="/skills/fr">
                <li class="">Compétences</li>
            </a>
            <a href="/personnal/fr">
                <li class="">Activités personnelles</li>
            </a>
            <a href="/contact" target="_blank">
                <li class="contact">Me contacter</li>
            </a>
            <a href="/resume" target="_blank">
                <li class="resume">Curriculum vitae</li>
            </a>
            <li id="darkmode-switch" class="custom-control custom-switch li-switch">
                <input type="checkbox" class="custom-control-input switch is-rounded" id="darkmode-checkbox">
                <label class="custom-control-label" for="darkmode-checkbox">
                    <span class="lightMode-elements switchLabel">Jour</span>
                    <span class="darkMode-elements switchLabel">Nuit</span>
                </label>
            </li>
            <li id="language-switch" class="custom-control custom-switch li-switch">
                <input type="checkbox" class="custom-control-input switch is-rounded" id="language-checkbox">
                <label class="custom-control-label" for="language-checkbox">
                    <span class="switchLabel">Français</span>
                    <span class="switchLabel" style="display:none">English</span>
                </label>
            </li>
        </ul>
        <div id="navToggle">
            <i id="openBtn" class=" navBtns active">
                <span class=" fa fa-bars fa-lg"></span>
                <span class="name">MENU</span>
            </i>
            <i id="closeBtn" class="navBtns" >
                <span class=" fa fa-times fa-lg"></span>
                <span class="name">CLOSE</span>
            </i>
        </div>
    </nav>

</aside>