.dark-mode .card {
    border-color: var(--gradiant-lev0);
}

.dark-mode .logo {
    visibility: hidden;  
}

.transition_2 {
    transition: all .75s ease-out;
}

.transition_3 {
    transition: all 1.5s ease-out; 
}