#fixed-sidebar {
    text-align: center;
    font-size: .8rem;
    padding-top: 0;
    padding-bottom: 0;

    #navList, #openBtn, #closeBtn {
        display : none;
    }

    #navList.active, #openBtn.active, #closeBtn.active {
        display : inline-block;
        font-weight: 700;
    }

    #openBtn.active, #closeBtn.active {
        padding: 1rem;
        border-radius: 50%;
    }

    #closeBtn {
        margin-top: .5rem;
    }

    #navToggle {
        font-style: normal;
        color: var(--gradiant-lev6);
        font-weight: 300;
        .fa {
            color: var(--primary-font);
        }
        .name {
            margin-left: .25rem;
            display : none;
            @include tablet {
                display : inline-block;
            }
        }
    }
    
    @include mobile {
        margin-left: .9rem;
        margin-right: .9rem;
        width: inherit;
    }

    @include widescreen  { 
        font-size: .9rem;
        margin-left: 1rem;
        text-align: left;

        position: sticky;   
        display: inline-block;
        vertical-align: top;
        height: 100vh;
        overflow-y: auto;
        top: 0;
        bottom: 0;
        padding-top: 0;

        #navList {
            display : inline-block;
        }

        #navToggle {
            display : none;
        }
    }

    figure {
        display: inline-block;
        margin-top: 2rem;

        img {
            height: 8rem;
            width: 8rem;
            border-radius: 50%;
        }
    }

    h1 {
        margin-bottom: .8rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--gradiant-lev6);
        line-height: 2rem;

        small {
            font-size: 1rem;
            margin-top: .5rem;
        }

        .name-color {
            color: var(--primary-font);
            font-weight: 700;
            padding-bottom: 1rem;
        }
    }

    nav {
        ul {

            a {
                &:hover {
                    color: var(--gradiant-lev6);
                }
            }
            li {
                margin-top: .8rem;
                padding-bottom: .5rem;
                font-weight: 500;
                text-decoration: none;
                color: var(--gradiant-lev5);
                border-bottom: var(--gradiant-lev2) 0.063rem solid;

                &:hover {
                    color: var(--gradiant-lev6);
                    border-bottom: var(--gradiant-lev4) 0.063rem solid;
                }
            }

            li.active {
                color: var(--primary-font);
                border-bottom: var(--primary-font) 0.063rem solid;
            }

            .li-switch {
                margin-bottom: -1rem;
                padding-bottom: none;
                border-bottom: none;
                text-align: left;

                &:hover {
                    border-bottom: none;
                }
            }
            .contact, .resume 
            {
                &:hover {
                    color: #c42381;
                    border-bottom: #c42381 0.063rem solid;
                }
            }
        }
    }
}

/** ----------------------------------------------------SWITCH **/
/** SWITCH **/

.switch[type="checkbox"] {

    + label {
        color: var(--gradiant-lev5);
        font-size: .8rem;
        font-weight: 400;
        text-align: center;

        .switchLabel {
            margin-bottom: .2rem;
            margin-left: -.75rem;
            text-align: center;
        }
    }

    + label::before {
        top: calc(50% - 1.625rem * 0.5);
        left: 0;
        width: 8.5rem;
        height: 1.6rem;
        background: transparent;
        box-shadow: 0 .063rem .25rem rgba(213,222,233,.2);
        color: red;
        background-clip: Light;
        border: 0.063rem solid var(--gradiant-lev2);
        background-clip: border-box;
    }

    + label::after { 
        top: calc(50% - 1.25rem * 0.5);
        left: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        background-color: white;
        border: 0.063rem solid var(--gradiant-lev2);
        background-size: 1.1rem 1.1rem;
        box-shadow: 0 .063rem .25rem rgba(213,222,233,.2);
        transition: all .75s ease-out;
    }

}

.switch[type="checkbox"]:checked {

    + label::before {
        border: .063rem solid var(--gradiant-lev2);
        background: transparent;
        box-shadow: 0 .063rem .25rem rgba(213,222,233,.2);
    }

    + label::after {
        left: 7rem;
        background-color: var(--primary-back);
        border: .063rem solid var(--gradiant-lev2);
        background-size: 1.1rem 1.1rem;
        box-shadow: 0 .063rem .25rem rgba(0,0,0,.2);
    }
}

#darkmode-switch {

    .switchLabel {
        margin-left: 0rem;
    }

    .switch[type="checkbox"] + label::after { 
        background-image : url("../images/sun.png");
    }

    .switch[type="checkbox"]:checked + label::after {
        background-image : url("../images/moon.png");
    }
}

#language-switch {

    .switch[type="checkbox"] + label::after { 
        background-image : url("../images/fr-flag.png");
    }

    .switch[type="checkbox"]:checked + label::after {
        background-image : url("../images/uk-flag.png");
    }
}
