:root {
    --background: #f5f6f7;
    --back-card: #ffffff;
    --primary-back: #2381c4;
    --primary-font: #2381c4;
    --gradiant-lev0: #FAFAFA;
    --gradiant-lev1: #F5F5F5;
    --gradiant-lev2: #EEEEEE;
    --gradiant-lev3: #E0E0E0;
    --gradiant-lev4: #BDBDBD;
    --gradiant-lev5: #9E9E9E;
    --gradiant-lev6: #757575;
    --gradiant-lev6: #616161;
    --gradiant-lev8: #424242;
    --gradiant-lev9: #212121;
}

.dark-mode {
    --background: #181826;
    --back-card: #212134;
    --primary-back: #185a89;
    --primary-font: #53a6e0;
    --gradiant-lev9: #FAFAFA;
    --gradiant-lev8: #F5F5F5;
    --gradiant-lev6: #EEEEEE;
    --gradiant-lev6: #E0E0E0;
    --gradiant-lev5: #BDBDBD;
    --gradiant-lev4: #9E9E9E;
    --gradiant-lev3: #757575;
    --gradiant-lev2: #616161;
    --gradiant-lev1: #424242;
    --gradiant-lev0: #212121;
}

$cardShadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.05);
$elemShadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);