<div class="container">
    <div id="section" class="section">

        <div id="big-main" class="columns is-multiline">
            <%- include ('./sidebar') %>
            <main class="column">

                <div class="card">
                    <div class="card-content">
                        <h2>Professional experiences</h2>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>DOCTORS OF THE WORLD FRANCE</h5>
                                            <div class="lieu">Bangui, <strong>CAR</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Logistics Coordinator</h6>
                                        <div class="date">2021-2022 · 9 months</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Emergency responses to the health needs of conflict-affected populations in
                                        Central African territory<br></p>
                                    <ul>
                                        <li>
                                            <p>Management of the capital logistics team, and support of two backcountry
                                                bases</p>
                                        </li>
                                        <li>
                                            <p>Team management (approximately 25 people), team facilitation, staff
                                                hires, writing job descriptions</p>
                                        </li>
                                        <li>
                                            <p>Supervision and logistical support of projects</p>
                                        </li>

                                        <li>
                                            <p>Strategizing and planning logistics activities</p>
                                        </li>
                                        <li>
                                            <p>Technical support to a Mobile Clinic project in emergency response</p>
                                        </li>
                                        <li>
                                            <p>Overseeing physical implementation of safety procedures, participating in
                                                crisis cells</p>
                                        </li>
                                        <li>
                                            <p>Supervision of national supply flows, and customs clearance operations
                                            </p>
                                        </li>
                                        <li>
                                            <p>Supervision of health center rehabilitation and construction</p>
                                        </li>
                                        <li>
                                            <p>Representation and networking work (RLH, ClusterLog, NGOs)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>DOCTORS OF THE WORLD FRANCE</h5>
                                            <div class="lieu">Kalemie, <strong>DR Congo</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Base Logistician</h6>
                                        <div class="date">2020-2021 · 9 months</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Emergency response to the health needs of conflict-affected populations in
                                        Tanganyika province<br></p>
                                    <ul>
                                        <li>
                                            <p>Supervising and leading a team of a dozen people</p>
                                        </li>
                                        <li>
                                            <p>Supervising the tasks of procurement, transportation and storage of
                                                program inputs in the province</p>
                                        </li>
                                        <li>
                                            <p>Monitoring and managing the car fleet, communications and computer fleet
                                            </p>
                                        </li>
                                        <li>
                                            <p>Opening a sub-base as part of an emergency response, and participating in
                                                the development and launch of a rapid response</p>
                                        </li>
                                        <li>
                                            <p>Participating in the definition of project construction and writing and
                                                tracking budgets</p>
                                        </li>
                                        <li>
                                            <p>Security watch, analyzing and tracking base, travel, and team security,
                                                participating in writing protocols</p>
                                        </li>
                                        <li>
                                            <p>Facilitating recruitment processes, assessments and HR needs definitions
                                            </p>
                                        </li>
                                        <li>
                                            <p>Supervision of health center rehabilitations and constructions</p>
                                        </li>
                                        <li>
                                            <p>Team training (Excel, Word, inventory management, purchasing procedures,
                                                etc...)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>DOCTORS OF THE WORLD FRANCE</h5>
                                            <div class="lieu">Marseille, <strong>France</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Logistics Officer</h6>
                                        <div class="date">2020 · 3 month </div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/mdm2.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Squat and Slum Programs & CASO - Covid-19 Response<br></p>
                                    <ul>
                                        <li>
                                            <p>Stock management and tracking</p>
                                        </li>
                                        <li>
                                            <p>Covid19 PPE management (stock, order, preparation, tracking)</p>
                                        </li>
                                        <li>
                                            <p>Procurement</p>
                                        </li>
                                        <li>
                                            <p>Distribution preparation and intervention</p>
                                        </li>
                                        <li>
                                            <p>Computer fleet upgrade work</p>
                                        </li>
                                        <li>
                                            <p>Protocol creation and upgrade (output, stock, purchase)</p>
                                        </li>
                                        <li>
                                            <p>Security assessment support</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>HUMANITY &amp; INCLUSION</h5>
                                            <div class="lieu">Tunis, <strong>Tunisie</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Legal support for studies and diagnoses</h6>
                                        <div class="date">2019 · 5 months (internship)</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/hi.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Support of the regional direction, in the realization of an exploratory mission
                                        on the situation of the migrant people in the Tunisian south (governorates of
                                        Medenine and Tataouine), and of a work of analysis of the framework the equal,
                                        for the realization of two initial diagnoses on the Tunisian territory</p><br />
                                    <ul>
                                        <li>
                                            <p>Study on sexual violence and the sexual and reproductive health needs of
                                                young people and women with disabilities</p>
                                        </li>
                                        <li>
                                            <p>Studies on the conditions of residence, reception and access to
                                                mainstream services, of migrant persons</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>CARITAS IN MOROCCO</h5>
                                            <div class="lieu">Rabat, <strong>Maroc</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Program Coordination Support Officer</h6>
                                        <div class="date">2018-2019 · 8 months (internship)</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/caritas.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>"Migration"program<br></p>
                                    <ul>
                                        <li>
                                            <p>Participation in actions to support capacity building of partners</p>
                                        </li>
                                        <li>
                                            <p>Support for project monitoring (logical framework, budget, job
                                                descriptions, reports)</p>
                                        </li>
                                        <li>
                                            <p>Re-design of a data collection tool. (definition of needs, development of
                                                specifications, interface, OpenData, securing, features</p>
                                        </li>
                                        <li>
                                            <p>Design of a communication plan and a new graphic charter, and support for
                                                the "digitization" of certain processes</p>
                                        </li>
                                        <li>
                                            <p>Editing and layout of awareness materials, news notes</p>
                                        </li>
                                        <li>
                                            <p>Meeting facilitation, team building</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>MUNICIPALITY OF OLIVET</h5>
                                            <div class="lieu">Olivet, <strong>France</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Legal Support Officer at the Citizen Life Unit</h6>
                                        <div class="date">2015 · 2 months (internship)</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/olivet.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Accompaniment and support for the implementation of procedures for the redesign
                                        of public reception. Legal studies of the feasibility of projects on partnership
                                        and emphyteutic leases.</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>THE CHOCOLAT COMPANY</h5>
                                            <div class="lieu">Toulouse, <strong>France</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Saleswoman and preparer in chocolate factory</h6>
                                        <div class="date">2014 · 6 months</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/choco.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Customer reception and advice, selling and cashing, shelving and respecting
                                        product rotation, receiving and preparing orders, monitoring stock levels,
                                        producing products.</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>GEODIS CALBERSON</h5>
                                            <div class="lieu">Orléans, <strong>France</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Assistant Manager of Transportation Services</h6>
                                        <div class="date">2009-2012 · 3 years</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/geodis.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Driver scheduling, team coordination and supervision (~15 people), adapting
                                        between customer requests and resource exploitation, training actions for
                                        employees, organization and optimization of exploitation resources, control and
                                        optimization of productivity, replacement of service manager</p>
                                </div>
                            </div>
                        </div>

                        <div class="divider is-info is-light"></div>

                        <div class="job">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="jobTitle">
                                            <h5>COOL-JET SAS</h5>
                                            <div class="lieu">Orléans, <strong>France</strong>&emsp;<i
                                                    class="fa fa-map-marker-alt"></i></div>
                                        </div>
                                        <h6 class="position">Transportation Operations Officer</h6>
                                        <div class="date">2010-2012 · 3 years</div>
                                    </div>
                                    <div class="media-left">
                                        <figure class="logo"><img src="/images/cooljet.png"></figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Registration and input of outgoing flows, complaints processing, process
                                        monitoring and optimization, tour dispatching, inter-departmental coordination
                                    </p>
                                </div>
                            </div>

                            <div class="divider is-info is-light"></div>

                            <div class="job">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div class="jobTitle">
                                                <h5>COOL-JET SAS</h5>
                                                <div class="lieu">Orléans, <strong>France</strong>&emsp;<i
                                                        class="fa fa-map-marker-alt"></i></div>
                                            </div>
                                            <h6 class="position">Material handler</h6>
                                            <div class="date">2009 · 3 months</div>
                                        </div>
                                        <div class="media-left">
                                            <figure class="logo"><img src="/images/cooljet.png"></figure>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>Receiving and accounting for goods, quality control and sorting of products,
                                            repackaging of goods.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>