<div class="container">
    <div id="section" class="section">

        <div id="big-main" class="columns is-multiline">
            <%- include ('./sidebar') %>
            <main class="column">
                <div class="columns sub-main">
                    <section class="column">

                        <div class="card card-blue">
                            <div class="card-content">
                                <div class="about">
                                    <h3>Bonjour,</h3>
                                    <p>
                                        After ten years of working in the fields of international solidarity and freight
                                        transport, I decided to give a new professional impetus to my life, by moving
                                        towards a job that I am passionate about, corresponding to my professional and
                                        personal expectations and aspirations.<br><br>
                                        Thanks to these experiences and my previous university education (in law and
                                        international relations) which allowed me to acquire many skills and knowledge,
                                        I decided to start a professional reconversion towards the web and mobile web
                                        development.<br><br>
                                        It is for this reason that I started a training of "Full Stack Javascript
                                        Developer" in February 2023 in the O'Clock school.<br><br>
                                        Curious, creative, autonomous, proactive, dynamic, organized and used to
                                        teamwork, I know how to adapt to all situations and work environment.<br><br>
                                        I have always been passionate about the world of technology, and I have already
                                        developed many personal projects. I am enthusiastic about the upcoming
                                        challenges and discoveries.
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="index-recent" class="column">
                        <div class="card card-index">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <h3>GITHUB PROFIL</h3>
                                        <h5><a href="https://github.com/aliceout" target="_blank">aliceout (Alice
                                                OsDel)</a></h5>
                                    </div>
                                    <div class="media-left">
                                        <figure>
                                            <div class="logo"><img src="/images/github.png" alt="Github"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-index">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <h3>Current training</h3>
                                        <h5>Full Stack Javascript Developer</h5>
                                        <h6>O'CLOCK School<br>2023</h6>
                                    </div>
                                    <div class="media-left">
                                        <figure>
                                            <div class="logo"><img src="/images/oclock-round.png"
                                                    alt="O'Clock"></div>
                                        </figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="/education/<%= lang %>">En savoir plus</a>
                                </div>
                            </div>
                        </div>

                        <div class="card card-index">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <h3>Last experience</h3>
                                        <h5>MÉDECINS DU MONDE FRANCE</h5>
                                        <h6>Logistics Coordinator</h6>
                                        <div class="date">2021-2022</div>
                                    </div>
                                    <div class="media-left">
                                        <figure>
                                            <div class="logo"><img src="/images/mdm.png" alt="Bioforce"></div>
                                        </figure>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Emergency responses to the health needs of populations affected by the conflict
                                        in the Central African Republic<br>
                                        <a href="/experiences/<%= lang %>">Read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            </main>
        </div>
    </div>
</div>