<div class="container">
    <div id="section" class="section">

        <div id="big-main" class="columns is-multiline">
            <%- include ('./sidebar') %>
            <main class="column">

                <div class="columns is-multiline">

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/Flysante-1.jpg" alt="Flysante-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Flysante-2.jpg" alt="Flysante-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Flysante-3.jpg" alt="Flysante-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Flysante-4.jpg" alt="Flysante-4">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Flysante-5.jpg" alt="Flysante-5">
                                </figure>
                            </div>

                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Flyer santé</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Document de sensibilisation - Caritas au Maroc - Janv. 2019
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/migrappi-1.jpg" alt="Migrappi-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/migrappi-2.jpg" alt="Migrappi-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/migrappi-3.jpg" alt="Migrappi-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/migrappi-4.jpg" alt="Migrappi-4">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Migrappi</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Application de prise en charge - Caritas au Maroc - Janv. 2019
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/Focus-1.jpg" alt="Focus-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Focus-2.jpg" alt="Focus-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Focus-3.jpg" alt="Focus-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Focus-4.jpg" alt="Focus-4">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Focus Qantara</p>
                                    </div>
                                </div>
                                <div class="content">Document de communication - Caritas au Maroc - Nov. 2018
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/Pnpm-1.jpg" alt="Pnpm-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Pnpm-2.jpg" alt="Pnpm-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Pnpm-3.jpg" alt="Pnpm-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Pnpm-4.jpg" alt="Pnpm-4">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Pnpm-5.jpg" alt="Pnpm-5">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Assises PNPM</p>
                                    </div>
                                </div>
                                <div class="content">Document de communication - Caritas au Maroc - Juil. 2018
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/Lyon-1.jpg" alt="Lyon-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Lyon-2.jpg" alt="Lyon-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Lyon-3.jpg" alt="Lyon-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/Lyon-4.jpg" alt="Lyon-4">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Programme Migrant'Scène Lyon 2017</p>
                                    </div>
                                </div>
                                <div class="content">Document de comunication - La Cimade Lyon - Octobre 2017 <br />
                                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Visuel de la 1° de couverture crée par
                                    La Cimade nationale
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/RapportTls-1.jpg" alt="RapportTls-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/RapportTls-2.jpg" alt="RapportTls-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/RapportTls-3.jpg" alt="RapportTls-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/RapportTls-4.jpg" alt="RapportTls-4">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Rapport Migrant'Scène Toulouse 2016</p>
                                    </div>
                                </div>
                                <div class="content">Document de comunication - La Cimade Toulouse - Mai 2016<br />
                                    <i class="fa fa-info-circle"></i>&nbsp;Visuel de la 1° et 2° de couverture crée par
                                    La Cimade
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-image carousel">
                                <figure class="image active">
                                    <img src="/images/maquette/LivretEC-1.jpg" alt="LivretEC-1">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/LivretEC-2.jpg" alt="LivretEC-2">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/LivretEC-3.jpg" alt="LivretEC-3">
                                </figure>
                                <figure style="display:none">
                                    <img src="/images/maquette/LivretEC-4.jpg" alt="LivretEC-4">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Livret Etat-civil</p>
                                    </div>
                                </div>
                                <div class="content">Document de sensibilisation - Caritas au Maroc - Juil. 2018
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>