<div class="container">
    <div id="section" class="section">

        <div id="big-main" class="columns is-multiline">
            <%- include ('./sidebar') %>
            <main class="column">

                <div class="card">
                    <div class="card-content">

                        <h2>Volunteering experiences</h2>
                        <div class="experience">

                            <div class="job">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div class="jobTitle">
                                                <h5>Doctors of the World France</h5>
                                                <div class="lieu">Marseille, <strong>France</strong>&emsp;<i
                                                        class="fas fa-map-marker-alt"></i></div>
                                            </div>
                                            <h6 class="position">Administrative Support Volunteer - Logistics,
                                                Finance&amp; RH</h6>
                                            <div class="date">2019 - 2020</div>
                                        </div>
                                        <div class="media-left">
                                            <div class="logo"><img src="/images/mdm2.png"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>"Transalpine Border Migration" program<br><br> Support tasks in Human
                                            Resources (writing mission profiles, organization chart, database),
                                            Logistics (stock management, vehicle fleet management) Finance (budget
                                            monitoring, monitoring of volunteer expenses) and IT (implementation of
                                            collaborative tools)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="divider is-info is-light"></div>

                            <div class="job">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div class="jobTitle">
                                                <h5>LA CIMADE</h5>
                                                <div class="lieu">Lyon, <strong>France</strong>&emsp;<i
                                                        class="fas fa-map-marker-alt"></i></div>
                                            </div>
                                            <h6 class="position">Foreigners' law permanent staff member, co-leader of
                                                the "Advocacy, awareness and solidarity" internationals department"</h6>
                                            <div class="date">2017 - 2019</div>
                                        </div>
                                        <div class="media-left">
                                            <div class="logo"><img src="/images/cimade.png"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>Advocacy with members of parliament in the framework of the Asylum and
                                            Immigration Law - Development of communication materials for the
                                            "Migrant'Scène" festival - Awareness-raising and advocacy activities -
                                            Reorganization of the roles and missions of the "IS, Awareness-raising and
                                            Advocacy" unit - Internal support activities on digital tools</p>
                                    </div>
                                </div>
                            </div>

                            <div class="divider is-info is-light"></div>

                            <div class="job">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div class="jobTitle">
                                                <h5>LA CIMADE</h5>
                                                <div class="lieu">Toulouse, <strong>France</strong>&emsp;<i
                                                        class="fas fa-map-marker-alt"></i></div>
                                            </div>
                                            <h6 class="position">Permanent in foreign law</h6>
                                            <div class="date">2015 - 2017</div>
                                        </div>
                                        <div class="media-left">
                                            <div class="logo"><img src="/images/cimade.png"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>Permanences of access to rights. Elaboration and layout of regional activity
                                            reports and the Migrant'scène festival, internal support missions</p>
                                    </div>
                                </div>
                            </div>

                            <div class="divider is-info is-light"></div>

                            <div class="job">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div class="jobTitle">
                                                <h5>POLITICAL PARTY</h5>
                                                <div class="lieu">Orléans, <strong>France</strong>&emsp;<i
                                                        class="fas fa-map-marker-alt"></i></div>
                                            </div>
                                            <h6 class="position">Activist and communication manager</h6>
                                            <div class="date">2010-2012 · 2 years</div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>Website creation, blog article writing, communication media creation<br>
                                            Meeting facilitation, administrative tasks, tracting, co-organizing public
                                            meetings</p>
                                    </div>
                                    <div class="media-left">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>